asgiref==3.5.0
Django==4.0.3
django-split-settings==1.1.0
flake8==4.0.1
mccabe==0.6.1
pycodestyle==2.8.0
pyflakes==2.4.0
python-dotenv==0.19.2
sqlparse==0.4.2
asgiref==3.5.0
attrs==21.4.0
autobahn==22.2.2
Automat==20.2.0
cffi==1.15.0
channels==3.0.4
constantly==15.1.0
cryptography==36.0.2
daphne==3.0.2
Django==4.0.3
django-cors-headers==3.11.0
django-split-settings==1.1.0
djangochannelsrestframework==1.0.0
djangorestframework==3.13.1
flake8==4.0.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
mccabe==0.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pyOpenSSL==22.0.0
python-dotenv==0.19.2
pytz==2022.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
Twisted==22.2.0
txaio==22.2.1
typing_extensions==4.1.1
zope.interface==5.4.0
